@import "tailwindcss";




  :root{
    --gold-gradient: linear-gradient(135deg, hsl(38 90% 50%) 0%, hsl(45 95% 55%) 100%);
    --hero-overlay: linear-gradient(180deg, hsla(220, 60%, 10%, 0.85) 0%, hsla(220, 50%, 20%, 0.75) 60%);

scroll-behavior: smooth;
  }
  
   .gold-gradient {
    background: var(--gold-gradient);
  }
   .hero-overlay {
    background: var(--hero-overlay);
  }

